<!DOCTYPE html>
<html>

<head>
	<title>Thank You! - Schrödinger's Syndrome</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
	<div class="jumbotron">
		<div class="container">
			<h1>Thank You for Playing!</h1>
		</div>
	</div>
	<div class="container">
		<h3>Your Score: {{score}}!</h3>
	</div>
</body>

</html>